#### 0. 표준입출력 함수(print, Input)

In [1]:
# 화면에 "Hello, Python"이라는 문자열을 출력하시오/
print("Hello, Python")
print('Hello, Python')

Hello, Python
Hello, Python

In [2]:
# 화면에 "Mary's cometics"라는 문제열을 출력하시오.
print("Mary's cometics")

Mary's cometics

In [3]:
# '신씨가 소리를 질렀다. "도둑이야!"'를 출력하시오.
print('신씨가 소리를 질렀다. "도둑이야!"')

신씨가 소리를 질렀다. "도둑이야!"

In [4]:
# "C:\windows"를 화면에 출력하시오.
print("C:\windows")

C:\windows

In [5]:
# 제어문자 : \n(new line), \t(tab)
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

In [6]:
# 열거연산잔 : 쉼표(,)
print("오늘은", "월요일", "비가온다네요")

오늘은 월요일 비가온다네요

In [9]:
# sep : 구분자
print("naver", "kakao", "samsung", sep='/')

naver/kakao/samsung

In [10]:
# 종결문자(;)
print("first");print('second')

first
second

In [11]:
print("first", end = " ");print('second')

first second

In [13]:
print(5/3)

1.6666666666666667

#### 1. 할당, 대입연산자(=), 변수에 값을 대입하는 작업 => 바인딩

In [14]:
# 삼성전자라는 변수에 50000원을 바인딩한 후 주식 10주를 보유하고 있을 때 총 평가금액을 출력.
삼성전자 = 5000
총평가금액 = 삼성전자*10
print(총평가금액)

50000

In [15]:
# type() 자료형을 확인하는 함수 int, str, list
a = 123
print(type(a))

<class 'int'>

In [18]:
# 문자열을 정수로 변환
num_str = '720'
num_int = int(num_str)
print(num_int, type(num_int))

720 <class 'int'>

In [19]:
# 정수를 문자열을 변환 : str()
num = 100
result = str(num)
print(result, type(result))

100 <class 'str'>

In [20]:
# 문자열을 실수로 변화 : float()
data = '15.7'
data = float(data)
print(data, type(data))

15.7 <class 'float'>

In [21]:
# year라는 변수에 현재 년도를 문자열로 바인딩하고, 정수로 변환한 후
# 최근 3년의 연도를 화면에 출력하시오.
year = '2021'
print(int(year)-3)
print(int(year)-2)
print(int(year)-1)

2018
2019
2020

In [24]:
# 에어컨 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매
# 총 금액을 계산하는 프로그램을 구현하시오.
month = 48584
total = month * 36
print(total)

1749024

#### 2. 문자열

In [27]:
# 문자열 인덱싱(indexing) : 인덱스는 0부터 시작한다.
letters = 'python'
print(letters[0], letters[2])

p t

In [28]:
# 문자열 슬라이싱 : [start : end] end-1
car_num = '24가 1234'
print(car_num[4:8])
print(car_num[-4:])

1234
1234

In [29]:
# '홀짝홀짝홀짝' 문자열을 변수에 바인딩한 후 '홀'만 출력하는 프로그램을 구현하시오.
# 슬라이싱 [start : end : offset]
string = '홀짝홀짝홀짝'
print(string[::2])

홀홀홀

In [30]:
# 문자열을 거꾸로 뒤집어서 출력하는 프로그램
string = '홀짝홀짝홀짝'
print(string[::-1])

짝홀짝홀짝홀

In [32]:
# 문자열 치환
phone_number = '010-1234-5678'
phone_number = phone_number.replace('-',' ')
print(phone_number)

010 1234 5678

In [34]:
phone_number = '010-1234-5678'
phone_number = phone_number.replace('-','')
print(phone_number)

01012345678

In [36]:
# 웹사이트 url에서 도메인만 출력하는 프로그램을 구현하시오.
# 도메인 : com, net, org, kr
url = "http://www.naver.com"
# split(구분자)
url_split = url.split('.')
print(url_split[-1:])

['com']

In [37]:
url = "http://www.bluehouse.kr"
url_split = url.split('.')
print(url_split[-1:])

['kr']

In [38]:
lang = 'python'
lang[0] = 'P'
print(lang) # 문자열은 수정할 수 없다.

TypeError: 'str' object does not support item assignment

In [39]:
# replace() : 치환
string = 'abcdef2a35a32a'
# 소문자 'a'를 대문자 'A'
string = string.replace('a', "A")
print(string)

Abcdef2A35A32A

In [40]:
string = 'abcd'
string.replace('b','B') # 문자열은 변경할 수 없다.
print(string) # 바뀐것이 넘어 오지 않음.

abcd

In [41]:
a = '3'
b = '4'
print(a+b)

34

In [42]:
a = 'hi'
print(a * 3)

hihihi

In [43]:
print('-'*40)

----------------------------------------

In [44]:
name1 = '장보고'
age1 = 20
name2 = '이순신'
age2 = 13
# % formatting (서식) - %d(%i), %f, %s
print('이름 : %s 나이 %d'% (name1, age1))
print('이름 : %s 나이 %d'% (name2, age2))

이름 : 장보고 나이 20
이름 : 이순신 나이 13

In [45]:
print('이름 : {0} 나이 {1}'.format(name1, age1))
print('이름 : {} 나이 {}'.format(name2, age2))

이름 : 장보고 나이 20
이름 : 이순신 나이 13

In [48]:
name1 = '장보고'
age1 = 20
name2 = '이순신'
age2 = 13
print(f'이름 : {name1} 나이 {age1}')
print(f'이름 : {name2} 나이 {age2}')

이름 : 장보고 나이 20
이름 : 이순신 나이 13

In [50]:
# 좌우공백을 제거하는 메서드 strip
data = "    삼성전자    "
print(data)
print(data.strip())

    삼성전자
삼성전자

In [56]:
# upper, lower, capitallize
ticker = 'btc_krw'
ticker1 = ticker.upper()
print(ticker1)
ticker2 = ticker1.lower()
print(ticker2)

BTC_KRW
btc_krw

In [55]:
a = 'hello'
a = a.capitalize()
a

'Hello'

In [57]:
# endswith : 해당 문자열의 끝문자를 확인
file_name = '보고서.xlsx'
file_name.endswith("xlsx")

True

In [59]:
file_name = '보고서.xlsx'
file_name.endswith("xlsx" or 'xls')

True

In [60]:
# startswith
file_name = '2021_보고서.xlsx'
file_name.startswith("2021")

True

In [61]:
# split -> 많이 활용
a = "hello python"
# 공백을 기준으로 문자열 분리
a.split(" ")

['hello', 'python']

In [62]:
ticker = 'btc_krw'
ticker.split("_")

['btc', 'krw']

In [63]:
date = "2021-04-12"
date.split("-")

['2021', '04', '12']

#### 3. 리스트(List)

In [64]:
# 시퀀스 : 데이터를 순서대로 나열하는 자료구조
# 시퀀스 자료형, 인덱스, 순서가 있고 수정 가능한 자료구조
movie = ["럭키", "닥터스트레인지", '스플릿']
movie

['럭키', '닥터스트레인지', '스플릿']

In [65]:
# 배트맨
movie.append('배트맨')
movie

['럭키', '닥터스트레인지', '스플릿', '배트맨']

In [66]:
#특정위치에 요소를 추가할 때 : insert
movie.insert(2, '슈퍼맨')
movie

['럭키', '닥터스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [67]:
del movie[0]
movie

['닥터스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [68]:
# 스플릿과 배트맨을 삭제하는 작업
del movie[-2:]
movie
# del movie[2] -> 오류, 해당 인덱스가 없음.

['닥터스트레인지', '슈퍼맨']

In [69]:
lang = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "R", "C#"]
langs = lang + lang2
langs

['C', 'C++', 'JAVA', 'Python', 'Go', 'R', 'C#']

In [70]:
# min(), max()
numbers = [1, 2, 3, 4, 5, 6, 7]
# 최대값과 최소값을 출력
print("max : ", max(numbers))
print("max : ", min(numbers))

max :  7
max :  1

In [71]:
# sum()
nums = [1, 2, 3, 4, 5]
# 합계
print("sum : ", sum(nums))

sum :  15

In [74]:
# 리스트에 저장된 데이터의 개수를 출력
cook = ['피자', '떡볶이', '김밥', '족발', '쫄면', '라면', '김치전']
print(len(cook))

7

In [78]:
# 평균
nums = [1, 2, 3, 4, 5]
avg = sum(nums) / len(nums)
print('avg : ',avg)

avg :  3.0

In [79]:
price = ['20210412', 100, 130, 140, 150, 160, 170]
# 날짜정보를 제외하고 가격정보만 출력
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [80]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# 슬라이싱 이용해서 홀수만 추출
print(nums[::2])

[1, 3, 5, 7, 9]

In [81]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# 슬라이싱 이용해서 짝수만 추출
print(nums[1::2])

[2, 4, 6, 8, 10]

In [82]:
nums = [1, 2, 3, 4, 5]
# 슬라이싱 이용해서 역방향으로 추출
print(nums[::-1])

[5, 4, 3, 2, 1]

In [83]:
# join() : 문자열과 문자열을 연결
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스']
interest

['삼성전자', 'LG전자', 'Naver', 'SK하이닉스']

In [84]:
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스

In [85]:
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스

In [86]:
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스

In [87]:
data = [2, 4, 3, 1, 5, 0, 10, 9]
# 리스트 값을 오름차순 정렬
data.sort() # 원본이 변경 처리
print(data)

[0, 1, 2, 3, 4, 5, 9, 10]

In [91]:
data = [2, 4, 3, 1, 5, 0, 10, 9]
print(sorted(data)) # 원본이 변경 처리X
print(data)

[0, 1, 2, 3, 4, 5, 9, 10]
[2, 4, 3, 1, 5, 0, 10, 9]

#### 4. 튜플(Tuple)

In [92]:
my_data = () # 빈 튜플 객체 생성
print(type(my_data))

<class 'tuple'>

In [95]:
movie = ("닥터 스트레인지", "스플릿", "럭키")
movie

('닥터 스트레인지', '스플릿', '럭키')

In [96]:
my_tuple = (1,)
print(type(my_tuple))

<class 'tuple'>

In [97]:
t = (1, 2, 3)
t[0] = 'a' # 튜플과 리스트의 유일한 차이점은 변경 불가.

TypeError: 'tuple' object does not support item assignment

In [98]:
t = 1, 2, 3, 4 # 패킹
t

(1, 2, 3, 4)

In [99]:
data = list(t)
data

[1, 2, 3, 4]

In [100]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [101]:
data = tuple(range(2, 100, 2))
print(data, end = " ")

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [102]:
a, b, *c = (0, 1, 2, 3, 4, 5) # 변수 개수 = 요소의 개수 =>but, *변수 : 가변길이
print(a)
print(b)
print(c)  # 튜플이 리스트로 됨.

0
1
[2, 3, 4, 5]

In [103]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 7.8, 9.4, 7.3]
# 좌측에 8개의 값은 val 변수로 바인딩하여 출력하는 프로그램
# 무시 : _
*val, _, _ = scores # 언패킹 8개 후 나머지 2개는 '_'로 처리
val

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 7.8]

In [105]:
for _ in range(5): # '-' => 파이썬 특수 케이스
    print("hi")

hi
hi
hi
hi
hi

#### 5. 딕셔너리

In [106]:
temp = {}
print(type(temp))

<class 'dict'>

In [107]:
ice = {"메로나": 1000, "폴라포": 1200, "빵빠레": 1800}
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [108]:
# 딕셔너리에 아이템 -> 시퀀스 자료X, 키로 value 불러옴.
ice['죠스바'] = 1200
ice['월드콘'] = 1500
ice

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [109]:
# 메로나의 가격을 출력.
print("메로나 가격 : ", ice['메로나'])

메로나 가격 :  1000

In [110]:
# 메로나 가격을 1300으로 수정
ice['메로나'] = 1300
ice
# ice['누가바'] 없는 키값 호출 -> 에러

{'메로나': 1300, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [124]:
products = {"메로나":[300, 20], "비비빅":[400, 3], "죠스바":[250, 10]}
products

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 10]}

In [125]:
# 메로나 가격 추출
print(products['메로나'][0], '원')

300 원

In [126]:
# 메로나 제고 출력
print(products['메로나'][1], '개')

20 개

In [127]:
products["월드콘"] = [500, 7]
print(products)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 10], '월드콘': [500, 7]}

In [128]:
# keys()
product = products.keys()
product

dict_keys(['메로나', '비비빅', '죠스바', '월드콘'])

In [131]:
# values()
product = list(products.values())
product

[[300, 20], [400, 3], [250, 10], [500, 7]]

In [132]:
# 등록된 아이스크림 가격의 총합
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

print(sum(icecream.values()))

6700

In [133]:
product

[[300, 20], [400, 3], [250, 10], [500, 7]]

In [138]:
print(product[0][0])
print(product[1][0])
print(product[2][0])
print(product[3][0])

300
400
250
500

In [141]:
for i in range(4):
    print(product[i][0])

300
400
250
500

In [148]:
sum = 0
for i in product:
    sum += i[0]
sum

1450

In [147]:
products.values()

for i in products.values():
    print(i)

[300, 20]
[400, 3]
[250, 10]
[500, 7]

In [150]:
# update()
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_data = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_data)
icecream

{'탱크보이': 1200,
 '폴라포': 1200,
 '빵빠레': 1800,
 '월드콘': 1500,
 '메로나': 1000,
 '팥빙수': 2700,
 '아맛나': 1000}

In [151]:
# zip() : 여러개 key와 values를 하나로 압축하는 함수
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result = dict(zip(keys, vals))
result

{'apple': 300, 'pear': 250, 'peach': 400}

In [152]:
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
result = dict(zip(date, close_price))
result

{'09/05': 10500,
 '09/06': 10300,
 '09/07': 10100,
 '09/08': 10800,
 '09/09': 11000}

#### 6. 제어문

In [153]:
# 분기문 if, 반복문 for
# if 논리조건식
print(3==4) # 논리 조건식

False

In [155]:
if 4 < 3:
    print('Hello, World')
else:
    print("Bye, World")

Bye, World

In [157]:
if True:
    print(1)
    print(2)
else:
    print(3)
print(4)

1
2
4

In [158]:
if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

3
5

In [161]:
# 사용자로부터 하나의 숫자를 입력받고 짝수/홀수 판정하는 프로그램.
user = int(input("수 = "))

if user % 2 == 0:
    print('짝수')
else:
    print('홀수')

수 = 2
짝수

In [163]:
fruit = ["사과", "포도", "홍시"]

user = input("좋아하는 과일은 ")

if user in fruit:
    print("예상적중")
else:
    print("예상실패")

좋아하는 과일은 홍시
예상적중

In [166]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과", '겨울':'홍시'}

user = input('봄/여름/가을/겨울 = ')

if user in fruit:
    print(fruit[user])
else:
    print("오답")

봄/여름/가을/겨울 = 봄
딸기

In [168]:
#사용자로부터 문자 한 개를 입력 받고, 소문자일 경우 대문자로, 
#대문자 일 경우, 소문자로 변경해서 출력하라.
# is ~
user = input("문자 = ")

if user.islower():
    print(user.upper())
else:
    print(user.lower())

문자 = A
a

In [171]:
# 학점 부여
score = int(input('score = '))

# 범위를 이용하어 처리
if 90 <= score <= 100:
    print("grade is A")
elif 80 <= score < 90:
    print("grade is B")
elif 70 <= score < 80:
    print("grade is C")
elif 60 <= score < 70:
    print("grade is D")
else:
    print("grade is F")

score = 70
grade is C

In [172]:
과일 = ['사과', '귤', '수박']
# for 개별변수 in 집합변수
for 변수 in 과일:  # 횟수를 제어 과일.len
    print(변수)

사과
귤
수박

In [173]:
# 동일하거나 유사한 성격을 가지고 있는 문장
# 유사한 성격을 가진 문장은 일정한 규칙을 가지고 있는 문장
print("============")
print("============")
print("============")
print("============")
print("============")

============
============
============
============
============

In [176]:
for _ in range(5):
    print('============')

============
============
============
============
============

In [181]:
a = ['sk하이닉스', '삼성전자', 'lg전자']
print(len(a[0]))
print(len(a[1]))
print(len(a[2]))

print()
for i in a:
    print(len(i))

6
4
4

6
4
4

In [183]:
b = ['가', '나', '다', '라']

for i in b[::2]:
    print(i)

가
다

In [184]:
b = ['가', '나', '다', '라']

for i in b[1:]:
    print(i)

나
다
라

In [185]:
b = ['가', '나', '다', '라']

for i in b[::-1]:
    print(i)

라
다
나
가

In [188]:
c = [3, -20, -3, 44]

for i in c:
    if i < 0:
        print(i)

-20
-3

In [189]:
c = [3, -20, -3, 44]

for i in c:
    if i > 0:
        continue # 건너띄어라
    print(i)

-20
-3

In [192]:
d = ["I", "study", "python", "language", "!"]
# 리스트에 저장된 요소중 세글자 이상인 문자만 출력

for i in d:
    if len(i) >= 3:
        print(i)

study
python
language

In [195]:
e = ["A", "b", "c", "D"]

for i in e:
    if i.isupper():
        print(i)

A
D

In [197]:
file = ['hello.py', 'exam.xls', 'test.hwp', 'memo.txt']
# 파일명을 담고 있는 리스트에서 확장자를 제거하고 파일이름만 추출
# split()

for i in file:
    split = i.split(".")
    print(split[0])

hello
exam
test
memo

In [204]:
file2 = ['intro.h', 'test.c', 'define.h', 'run.py', 'demo.h']
# 확장자가 h와 py인 파일만 추출.

for i in file2:
    split = i.split('.')
    if split[1] == 'h' or split[1] == 'py':
        print(i)

intro.h
define.h
run.py
demo.h

#### 7. 함수(Function)

In [207]:
def print_coin():
    print("hello python")

In [209]:
print_coin()

hello python

In [210]:
def print_coin():
    for i in range(100):
        print("hello python")

In [214]:
def hello():
    print("HI")
hello()

HI

In [217]:
def func(string):
    print(string)
func("안녕")
func("HI")

안녕
HI

In [220]:
def adder(a, b):
    c = a + b
    return c

In [221]:
adder(3, 4)

7

In [223]:
x = adder(7, 8)
x

15

In [224]:
def adder(a, b):
    #c = a + b
    return a + b

In [225]:
x = adder(10,20)
x

30

In [226]:
# 하나의 문자열을 입력받아 문자열 끝에 ":D"을 붙여 출력하는 함수
# print_str를 정의하시오
def print_str(string):
    print(string+":D")

In [227]:
print_str('안녕')

안녕:D

In [228]:
# 현재 가격을 입력받아 상한가(30%)을 출력하는 함수
# print_price를 정의하시오.
def print_price(price):
    print(price*1.3)

In [229]:
print_price(3000)

3900.0

In [232]:
def print_arithmetic(x, y):
    print("{} + {} = {}".format(x, y, x+y))
    print("{} - {} = {}".format(x, y, x-y))
    print("{} * {} = {}".format(x, y, x*y))
    print("{} / {} = {}".format(x, y, x/y))

In [233]:
print_arithmetic(3, 4)

3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75

In [236]:
# 세 개의 숫자를 입력받아 큰 수를 출력하는 print_max 함수 정의

def print_max(x, y, z):
    max_val = 0    # max가 저장될 변수
    if x > max_val:
        max_val = x
    if y > max_val:
        max_val = y
    if z > max_val:
        max_val = z
    
    print("max : ", max_val)

In [237]:
print_max(1, 2, 3)

max :  3

In [239]:
# 문자열을 입력받아 역순으로 출력하는 print_reverse 함수 정의
def print_reverse(string):
    print(string[::-1])

In [241]:
print_reverse('python')

nohtyp

In [1]:
# 리스트로 점수를 입력받아 총점과 평균을 계산하는 함수 print_score
def print_score(score_list):
    print("total = {}".format(sum(score_list)))
    print("avg = ", sum(score_list) / len(score_list))

In [3]:
print_score([1, 2, 3, 4, 5])

total = 15
avg =  3.0

In [4]:
# 리스트를 입력받아 짝수만 출력하는 print_even함수를 정의
def print_even(my_list):
    for i in my_list:
        if i % 2 == 0:
            print(i)

In [7]:
print_even([7, 2, 9, 1, 3, 4, 6])

2
4
6

In [10]:
# 하나의 딕셔너리를 입력받아 key값을 화면에 출력하는 함수
# print_keys
def print_keys(dic):
    for key in dic.keys():
        print(key)

In [11]:
print_keys({'이름':'홍길동', '나이':33, '성별':'남'})

이름
나이
성별

In [24]:
# 입력 문자열을 한줄에 다섯글자씨만 출력하는 함수 print_5times()
def print_5times(string):
    check = int(len(string)/5)
    
    for x in range(check+1):
        print(string[x*5:x*5+5])

In [25]:
print_5times("가나다라마바사아자차")

가나다라마
바사아자차

In [27]:
# 문자열과 한줄에 출력될 글자수를 입력받아 처리하는 함수.
def print_mxn(string, num):
    check = int(len(string)/num)
    
    for x in range(check+1):
        print(string[num*x:x*num+num])

In [29]:
print_mxn('가나다라마바사아자차카타파하', 3)

가나다
라마바
사아자
차카타
파하

In [31]:
def my_print(a, b):
    print("좌측 : ", a)
    print("우측 : ", b)

my_print(a=100, b=200)

좌측 :  100
우측 :  200

In [37]:
# 문자열을 비어있는 리스트에 추가한 후 리스트를 반환해주는 함수.
# 문자열을 입력받아 출력하는 작업을 수행한다. 이때 입력받은 문자열이 
# quit이면 작업을 종료한다.

def make_list1(string):
    my_list = []
    for i in string:
        my_list.append(string)
    return my_list

a = make_list1('aaa')
a = make_list1('bbb')
a

['bbb', 'bbb', 'bbb']

In [39]:
def make_list2(string):
    return list(string)

a = make_list2('bbb')
a

['b', 'b', 'b']

#### 8. 클래스(Class)

In [ ]:
# 
# Object(객체) => 클래스
# Instance(객체) -  인스턴스 객체
# self - 인스턴스 자신의 주소, 자기자신을 가르키는 포인터

In [40]:
class Human:
    # 생성자 메서드
    def __init__(self):
        print("응애응애")
        
kim = Human() # 인스턴스 생성, 자동으로 생성자 메서드 호출 그래서 () 써야함.

응애응애

In [45]:
class Human:
    # 생성자 메서드
    def __init__(self, name, age, gender):
        self.name = name
        self.age = age
        self.gender = gender
     
    def disp(self):
        print(self.name, end= " ")
        print(self.age, end= " ")
        print(self.gender)
        
lee = Human("이순신", 25, '남자')
lee.disp()
# print(lee.name)
# print(lee.age)
# print(lee.gender)

이순신 25 남자

In [57]:
# Object (객체) : 현실세계의 유형 무형의 모든 물질
# 과일장수 - 객체 - 클래스(객체의 속성, 행위)
class FruitSeller:
    # 멤버필드
    apples = 100  # 판매할 과일의 개수
    prices = 1000 # 판매할 과일의 금액
    money = 0   # 판매금액을 누적할 변수
    
    # 멤버 메서드
    def sel(self, don): # 과일을 판매하는 행위를 기술하는 메서드
        apple = don // self.prices
        self.apples -= apple
        self.money += don
        return apple
    
    def bal(self):   # 과일을 판매하여 얻어지는 판매수익을 처리
        pass
    
    def disp(self):  # 현재 과일장수 상태를 기술
        print("과일제고 : ", self.apples)
        print("과일금액 : ", self.prices)
        print("매출현황 : ", self.money)

In [58]:
seller = FruitSeller()
seller.disp()

과일제고 :  100
과일금액 :  1000
매출현황 :  0

In [60]:
seller.sel(5000)
seller.disp()

과일제고 :  90
과일금액 :  1000
매출현황 :  10000

In [63]:
seller2 = FruitSeller()
seller2.apples = 10
seller2.prices = 500
seller2.disp()

과일제고 :  10
과일금액 :  500
매출현황 :  0

In [64]:
class FruitSeller:
#     # 멤버필드
#     apples = 100  # 판매할 과일의 개수
#     prices = 1000 # 판매할 과일의 금액
#     money = 0   # 판매금액을 누적할 변수

    # 생성자 메서드
    def __init__(self, apples, prices, money):
        self.apples = apples
        self.prices = prices
        self.money = money
    
    # 멤버 메서드
    def sel(self, don): # 과일을 판매하는 행위를 기술하는 메서드
        apple = don // self.prices
        self.apples -= apple
        self.money += don
        return apple
    
    def bal(self):   # 과일을 판매하여 얻어지는 판매수익을 처리
        pass
    
    def disp(self):  # 현재 과일장수 상태를 기술
        print("과일제고 : ", self.apples)
        print("과일금액 : ", self.prices)
        print("매출현황 : ", self.money)

In [65]:
aaa = FruitSeller(50, 1000, 0)
bbb = FruitSeller(10, 800, 0)

aaa.disp()
bbb.disp()

과일제고 :  50
과일금액 :  1000
매출현황 :  0
과일제고 :  10
과일금액 :  800
매출현황 :  0

In [77]:
import random

# 계좌번호 : 111-11-111111
class Account:
    # 클래스 변수 : 생성된 계좌 객체의 수를 저장하는 변수
    account_count = 0
    
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = '파이썬은행'
        
        num1 = random.randint(0, 999) # 4
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)
        
        num1 = str(num1).zfill(3) # zero로 fill워라 3자리를, 4 => '4' => '004'
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        
        self.account_number = num1 + "-" + num2 + "-" + num3
        
        Account.account_count += 1
        
    def disp(self):
        print(self.name)
        print(self.balance)
        print(self.bank)
        print(self.account_number)

In [78]:
kim = Account('김유신', 10000)

In [79]:
print(kim.name)
print(kim.balance)
print(kim.bank)
print(kim.account_number)

김유신
10000
파이썬은행
750-09-274515

In [80]:
kim.disp()

김유신
10000
파이썬은행
750-09-274515

In [81]:
lee = Account('이순신', 20000)
print(lee.name)
print(lee.balance)
print(lee.bank)
print(lee.account_number)

이순신
20000
파이썬은행
497-59-885912

In [82]:
lee.disp()

이순신
20000
파이썬은행
497-59-885912

In [83]:
print(Account.account_count)

2

In [84]:
park = Account('박문수', 50000)
park.disp()
print(Account.account_count)

박문수
50000
파이썬은행
422-96-271277
3