In [1]:
# Q1.
print("Hello World!")

Hello World!

In [2]:
# Q2.
print("Mary's cosmetics")

Mary's cosmetics

In [3]:
# Q3.
print("원주율 값은 : {:.2f}".format(3.141592))

원주율 값은 : 3.14

In [85]:
# Q4.
a = 3
b = 4
c = a + b
print("{}와 {}의 합은 {}입니다".format(a, b, c))

3와 4의 합은 7입니다

In [7]:
# Q5.
num = int(input("출력 횟수 = "))
num2 = input("문자열 = ")
for i in range(num):
    print(num2)

출력 횟수 = 3
문자열 = hi
hi
hi
hi

In [11]:
# Q6. 
a = '2021'
print(type(a))
a = int(a)
print(type(a))

b = 100
print(type(a))
b = str(b)
print(type(b))

<class 'str'>
<class 'int'>
<class 'int'>
<class 'str'>

In [15]:
# Q7.
num1 = int(input("수1 = "))
opp = input("연산자(+,-,*,/) = ")
num2 = int(input("수2 = "))

if opp == '+':
    print("{}과 {}의 합은 {}입니다.".format(num1, num2, num1+num2), end = " ")
elif opp == '-':
    print("{}과 {}의 합은 {}입니다.".format(num1, num2, num1-num2), end = " ")
elif opp == '*':
    print("{}과 {}의 합은 {}입니다.".format(num1, num2, num1*num2), end = " ")
elif opp == '/':
    print("{}과 {}의 합은 {}입니다.".format(num1, num2, num1/num2))

수1 = 2
연산자(+,-,*,/) = /
수2 = 1
2과 1의 합은 2.0입니다.

In [17]:
# Q8.
num1 = int(input("밑의 숫자 = "))
num2 = int(input("지수의 숫자 = "))

print("{}^{} = {}".format(num1, num2, num1**num2))

밑의 숫자 = 2
지수의 숫자 = 3
2^3 = 8

In [20]:
# Q9.
a = "hello world"
b = len(a)

print(a)
print(b)

hello world
11

In [ ]:
# Q10.

In [23]:
# Q11.
a = "PYTHON"
print(a[::-1])

NOHTYP

In [25]:
# Q12.
first = 'Hello'
second = 'Python'
print(first + "," + " "+second)

Hello, Python

In [27]:
# Q13.
companies = ['NAVER', 'KAKAO', 'SK', 'SAMSUNG']
";".join(companies)

'NAVER;KAKAO;SK;SAMSUNG'

In [18]:
# Q14.
url = 'https://www.naver.com/edit/page/7022'
split_1 = url.split(".")
split_1[2][0:3]

'com'

In [40]:
# Q15.
introduce = "python is widely used high-level language. python was conceived in the late 1980s"

freq = introduce.count('python')
print(freq)

2

In [41]:
# Q16.
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(max(nums))
print(min(nums))

9
1

In [46]:
# Q17.
nums = [2, 3, 1, 7, 10, 4, 5, 8]
nums.sort()
print(nums)

[1, 2, 3, 4, 5, 7, 8, 10]

In [48]:
# Q18.
values = [10000, 10500, 10300, 10700, 11100]
a = sum(values)
b = len(values)
average = a / b
print(average)

10520.0

In [50]:
# Q19.
data = ['a', 'b', 'c', 'd', 'e']
print(type(data))
a = tuple(data)
print(type(a))

<class 'list'>
<class 'tuple'>

In [51]:
# Q20.
a = 1, 2, 3, 4, 5
a[1::2]

(2, 4)

In [53]:
# Q21.
t = ['a', 'b', 'c']
n = [1, 2, 3]
# zip

['a', 'b', 'c', 1, 2, 3]

In [54]:
# Q22.
icecream = {'Melona':1000, 'Pollapo':1200, 'Ppangpare':1800, 'Tankboy':1200, 'Heathunting':1200, 'Worldcorn': 1500}
print(icecream)

{'Melona': 1000, 'Pollapo': 1200, 'Ppangpare': 1800, 'Tankboy': 1200, 'Heathunting': 1200, 'Worldcorn': 1500}

In [59]:
# Q23.
icecream = {'Melona':1000, 'Pollapo':1200, 'Ppangpare':1800, 'Tankboy':1200, 'Heathunting':1200, 'Worldcorn': 1500}
icecream['Melona']

print("제품명 {}, 메로나 가격 ={}".format('Melona', icecream['Melona']))

제품명 Melona, 메로나 가격 =1000

In [62]:
# Q24.
icecream = {'Melona':1000, 'Pollapo':1200, 'Ppangpare':1800, 'Tankboy':1200, 'Heathunting':1200, 'Worldcorn': 1500}
print('바뀌기전 Worldcorn 가격은 ',icecream['Worldcorn'])
icecream['Worldcorn'] = 2000
print('바뀐 후 Worldcorn 가격은 ', icecream['Worldcorn'])

바뀌기전 Worldcorn 가격은  1500
바뀐 후 Worldcorn 가격은  2000

In [21]:
# Q25.
icecream = {'Melona':1000, 'Pollapo':1200, 'Ppangpare':1800, 'Tankboy':1200, 'Heathunting':1200, 'Worldcorn': 1500}

min(icecream.values())

1000

In [66]:
# Q26.
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

even = nums[1::2]
odd = nums[::2]

print('even : {}'.format(even))
print('odd : {}'.format(odd))

even : [2, 4, 6, 8, 10]
odd : [1, 3, 5, 7, 9]

In [77]:
# Q27.
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in nums[:]:
    if nums % 2 == 0:
        print(i)

TypeError: unsupported operand type(s) for %: 'list' and 'int'

In [81]:
# Q28.
items = [1, 6, 2, 3, 4, 4, 6, 6, 7, 2, 7]
a = set(items)
b = list(a)
print("new_items = {}".format(b))

new_items = [1, 2, 3, 4, 6, 7]

In [6]:
# Q29. 
data = ['09/05', '09/06', '09/07', '09/08', '09/09']
price = [10500, 10300, 10100, 10800, 11000]
dic = dict(zip(data, price))
print(dic)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

In [87]:
# Q30
num1 = int(input("수1 = "))
num2 = int(input("수2 = "))
num3 = int(input("수3 = "))

if num1 > num2 and num1 > num3:
    result = num1
elif num2 > num3 and num2 > num3:
    result = num2
elif num3 > num2 and num3 > num1:
    result = num3
    
print("{},{},{} 숫자 중 가장 큰 수는 {}".format(num1, num2, num3, result))

수1 = 3
수2 = 4
수3 = 5
3,4,5 숫자 중 가장 큰 수는 5

In [5]:
# Q31.
sum1 = 0
while True:
    num = int(input("수 = "))
    sum1 += num
    
    if num == 0:
        break
print(sum1)

수 = 1
수 = 2
수 = 3
수 = 0
6

In [23]:
# Q32.
num1 = int(input("수1 = "))
opp = input("연산자(+,-,*,/) = ")
num2 = int(input("수2 = "))

if opp == '+':
    print("{} {} {} = {}".format(num1, opp, num2, num1 + num2))
elif opp == '-':
    print("{} {} {} = {}".format(num1, opp, num2, num1 - num2))
elif opp == '*':
    print("{} {} {} = {}".format(num1, opp, num2, num1 * num2))
elif opp == '/':
    print("{} {} {} = {}".format(num1, opp, num2, num1 / num2))
else:
    print("잘못된 연산자 입니다.")

수1 = 3
연산자(+,-,*,/) = +
수2 = 1
3 + 1 = 4

In [4]:
# Q33.
kor = int(input("국어 = "))
eng = int(input("영어 = "))
mat = int(input("수학 = "))

total = kor + eng + mat
avg = total / 3

if avg >= 90:
    result = 'A'
elif 80 <= avg < 90:
    result = 'B'
elif 70 <= avg < 80:
    result = 'C'
elif 60 <= avg < 70:
    result = 'D'
else:
    result = 'F'
print("총점 : {}, 평균 : {}, 학점 : {}".format(total, avg, result))

국어 = 90
영어 = 90
수학 = 90
총점 : 270, 평균 : 90.0, 학점 : A

In [13]:
# Q34.
choose = int(input("환율을 고르시오(1.dollar, 2.en, 3.euro, 4.won) : "))
num = int(input("돈 = "))

if choose == 1:
    print("{}달러의 한국돈으로 환전하면 {}입니다.".format(num,num * 1167))  
elif choose == 2:
    print("{}엔의 한국돈으로 환전하면 {}입니다.".format(num,num * 1096))
elif choose == 3:
    print("{}유로의 한국돈으로 환전하면 {}입니다.".format(num,num * 1268))  
elif choose == 4:
    print("{}원의 한국돈으로 환전하면 {}입니다.".format(num,num * 171))

환율을 고르시오(1.dollar, 2.en, 3.euro, 4.won) : 2
돈 = 100
100엔의 한국돈으로 환전하면 109600입니다.

In [20]:
# Q35.
for i in range(2, 10):
    print("====={}단=====".format(i))
    for j in range(1, 10):
        print("{} x {} = {}입니다.".format(i, j, i*j))

=====2단=====
2 x 1 = 2입니다.
2 x 2 = 4입니다.
2 x 3 = 6입니다.
2 x 4 = 8입니다.
2 x 5 = 10입니다.
2 x 6 = 12입니다.
2 x 7 = 14입니다.
2 x 8 = 16입니다.
2 x 9 = 18입니다.
=====3단=====
3 x 1 = 3입니다.
3 x 2 = 6입니다.
3 x 3 = 9입니다.
3 x 4 = 12입니다.
3 x 5 = 15입니다.
3 x 6 = 18입니다.
3 x 7 = 21입니다.
3 x 8 = 24입니다.
3 x 9 = 27입니다.
=====4단=====
4 x 1 = 4입니다.
4 x 2 = 8입니다.
4 x 3 = 12입니다.
4 x 4 = 16입니다.
4 x 5 = 20입니다.
4 x 6 = 24입니다.
4 x 7 = 28입니다.
4 x 8 = 32입니다.
4 x 9 = 36입니다.
=====5단=====
5 x 1 = 5입니다.
5 x 2 = 10입니다.
5 x 3 = 15입니다.
5 x 4 = 20입니다.
5 x 5 = 25입니다.
5 x 6 = 30입니다.
5 x 7 = 35입니다.
5 x 8 = 40입니다.
5 x 9 = 45입니다.
=====6단=====
6 x 1 = 6입니다.
6 x 2 = 12입니다.
6 x 3 = 18입니다.
6 x 4 = 24입니다.
6 x 5 = 30입니다.
6 x 6 = 36입니다.
6 x 7 = 42입니다.
6 x 8 = 48입니다.
6 x 9 = 54입니다.
=====7단=====
7 x 1 = 7입니다.
7 x 2 = 14입니다.
7 x 3 = 21입니다.
7 x 4 = 28입니다.
7 x 5 = 35입니다.
7 x 6 = 42입니다.
7 x 7 = 49입니다.
7 x 8 = 56입니다.
7 x 9 = 63입니다.
=====8단=====
8 x 1 = 8입니다.
8 x 2 = 16입니다.
8 x 3 = 24입니다.
8 x 4 = 32입니다.
8 x 5 = 40입니다.
8 x 6 = 48입니다.
8 x 7 = 56입니다.
8 x 8 = 64입니다.
8 x 9 = 72입니다.
=====9단=====
9 x 1 = 9입니다.
9 x 2 = 18입니다.
9 x 3 = 27입니다.
9 x 4 = 36입니다.
9 x 5 = 45입니다.
9 x 6 = 54입니다.
9 x 7 = 63입니다.
9 x 8 = 72입니다.
9 x 9 = 81입니다.

In [3]:
# Q39.
num1 = int(input("수1 = "))
num2 = int(input("수2 = "))

try:
    num1 / num2
except ZeroDivisionError:
    print("0으로는 나누지 못합니다.")
else:
    print(num1 / num2)
finally:
    print("프로그램 종료합니다.")

수1 = 1
수2 = 0
0으로는 나누지 못합니다.
프로그램 종료합니다.