In [1]:
import numpy as np
import pandas as pd

In [4]:
# 집계함수의 절차 : 분리(split)-적용(apply)-결합(combine)
# DataFrame 일 때 : 형식 : 통계량을 계산하는 열(Series).groupby(기준이 될 열(Series))
# Series 객체일 때 : 특정열인덱싱.groupby(기준열인덱싱)
df = pd.DataFrame({'key1':list('aabba'),
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1':np.random.randn(5), 
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one  0.931899 -1.661821
1    a  two -1.318584 -1.044897
2    b  one  0.183187  0.228006
3    b  two -0.165634 -0.276980
4    a  one  0.240570  1.441532

In [6]:
# key1 열이 a인 행들에 대해 data1의 평균을 구하시오.
grouped = df['data1'].groupby(df['key1'])
grouped # 값이 들어가있는 주소만 출력.

In [7]:
grouped.mean()

key1
a   -0.048705
b    0.008776
Name: data1, dtype: float64

In [8]:
# key1과 key2를 그룹하여 data1에 대한 평균을 계산하시오.
means = df['data1'].groupby([df['key1'], df['key2']]).mean()
means # 특정열에 대해 계산할 때

key1  key2
a     one     0.586234
      two    -1.318584
b     one     0.183187
      two    -0.165634
Name: data1, dtype: float64

In [9]:
# 하위계층을 위로 올리는 작업
means.unstack()

key2       one       two
key1
a     0.586234 -1.318584
b     0.183187 -0.165634

In [10]:
df.groupby('key1') # 모든 열에 key1 단위로 묶어라

In [11]:
df.groupby('key1').mean() # 모든 열에 대해 계산 할 때.

         data1     data2
key1
a    -0.048705 -0.421729
b     0.008776 -0.024487

In [12]:
df.groupby(['key1', 'key2']).mean()

              data1     data2
key1 key2
a    one   0.586234 -0.110144
     two  -1.318584 -1.044897
b    one   0.183187  0.228006
     two  -0.165634 -0.276980

In [13]:
df.groupby(['key1', 'key2'])['data2'].mean() # data2만 대상하겠다.(data2만 출력)

key1  key2
a     one    -0.110144
      two    -1.044897
b     one     0.228006
      two    -0.276980
Name: data2, dtype: float64

In [14]:
for name, group in df.groupby('key1'):
    print(name)
    print(group)

a
  key1 key2     data1     data2
0    a  one  0.931899 -1.661821
1    a  two -1.318584 -1.044897
4    a  one  0.240570  1.441532
b
  key1 key2     data1     data2
2    b  one  0.183187  0.228006
3    b  two -0.165634 -0.276980

In [19]:
for (k1, k2), group in df.groupby(['key1', 'key2']):
    print(k1, k2)
    print(group)

a one
  key1 key2     data1     data2
0    a  one  0.931899 -1.661821
4    a  one  0.240570  1.441532
a two
  key1 key2     data1     data2
1    a  two -1.318584 -1.044897
b one
  key1 key2     data1     data2
2    b  one  0.183187  0.228006
b two
  key1 key2     data1    data2
3    b  two -0.165634 -0.27698

In [20]:
df.groupby(['key1', 'key2']).count() # size와 같은 결과 but 반환값 DataFrame

           data1  data2
key1 key2
a    one       2      2
     two       1      1
b    one       1      1
     two       1      1

In [21]:
df.groupby(['key1', 'key2']).size() # count와 같은 결과 but 반환값 Series

key1  key2
a     one     2
      two     1
b     one     1
      two     1
dtype: int64