In [1]:
# 리스트(list) : 여러개의 데이터를 묶어서 처리하는 순처적 자료형.
# 시퀀스 자료형(sequence) : 인덱스를 이용해서 접근이 허용, 0부터 시작
# [](대괄호)로 묶어준다.
# 각 요소마다 코마(,) 구분

In [2]:
a = [31, 21, 53, 62, 10]
a

[31, 21, 53, 62, 10]

In [3]:
# [조건식], 인덱스값, 슬라이싱(start:end)
etc = ['kim', 17, 189.3, True]
etc

['kim', 17, 189.3, True]

In [5]:
# 빈 리스트 만들기
a = []
print(a)
b = list()
print(b)

[]
[]

In [7]:
# range함수
# range(횟수) : 0부터 시작, range(시작 값, 마지막 값, 증감값)
range(10)

range(0, 10)

In [9]:
c = list(range(10))
c   # 리스트 자료형에 담겨진다.

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
d = list(range(5, 12)) # 5부처 11까지 담겨라
d

[5, 6, 7, 8, 9, 10, 11]

In [13]:
e = list(range(-4, 10, 2)) # -4 부터 9까지 2씩 증가
e

[-4, -2, 0, 2, 4, 6, 8]

In [14]:
f = list(range(10, 0, -1)) # 10부터 시작 해서 1까지 -1 감소
f

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [15]:
# 튜플(tuple) : 리스트와 유사하다.
# 유일하게 리스트와 차이점을 변경불가
# 괄호() 묶어ㅅ, 콤마(,) 구분
a = 10, 20, 30, 40, 50 # 패킹 -> 기본형 : 튜플
a

(10, 20, 30, 40, 50)

In [17]:
b = (10, 20, 30, 40, 50)
b

(10, 20, 30, 40, 50)

In [19]:
c = ('james', 33, 2.131592, False)
c

('james', 33, 2.131592, False)

In [22]:
39 # -> int() 
print(type(39))
(10,) # -> tuple()
print(type((10,)))

<class 'int'>
<class 'tuple'>

In [24]:
a = tuple(range(10))
a

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [25]:
b = tuple(range(5, 12))
b

(5, 6, 7, 8, 9, 10, 11)

In [27]:
c = tuple(range(-4, 10, 2))
c

(-4, -2, 0, 2, 4, 6, 8)

In [28]:
a = [1, 2, 3]
tuple(a)

(1, 2, 3)

In [29]:
b = (4, 5, 6)
list(b)

[4, 5, 6]

In [30]:
# 리스트와 튜플에 문자열을 담게되면
list("hello")

['h', 'e', 'l', 'l', 'o']

In [31]:
tuple("korea")

('k', 'o', 'r', 'e', 'a')

In [32]:
# 패킹 언패킹
x = [1, 2, 3]
a, b, c = x
print(a, b, c)

1 2 3

In [33]:
y = (4, 5, 6)
d, e, f = y
print(d, e, f)

4 5 6

In [34]:
# input().split() 함수 #여러개 값을 받아서 여러개로 쪼갠다 -> list로 된다.
input().split()

10 20

['10', '20']

In [35]:
x = input().split()

10 20

In [37]:
a, b = x # input().split()
print(a, b)

10 20

In [39]:
# bank
banklist = []

for i in range(3):
#     a = input().strip()
#     name, num, money = a.split()
    name, num, money = input().split()
    banklist.append([name, money, num])

print(banklist)

aa 11 20
bb 22 30
cc 33 40
[['aa', '20', '11'], ['bb', '30', '22'], ['cc', '40', '33']]

In [40]:
# sequence 자료형
# list, tuple, range, str, .......bytes, bytearray

In [44]:
# in 연산자와 not in 연산자....... 결과 : True False
# 값 in 연산자 
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
print(30 in a)
print(100 in a)
print(100 not in a)
print(30 not in a)

True
False
True
False

In [45]:
43 in (38, 76, 43, 62, 19)

True

In [46]:
1 in range(10)  # list타입의 0 ~ 9안에 1이 있습니까?

True

In [48]:
'p' in 'hello, pyhton'

True

In [49]:
# 연결연산자 "+"
# 리스트에서 '+' 는 append와 같은 의미
a = [0, 10, 20,30]
b = [40, 50, 60, 70]
a+b

[0, 10, 20, 30, 40, 50, 60, 70]

In [53]:
# range()는 '+' 사용할 수 없음
#range(0, 10) + range(10, 20) # 이렇게는 안됨
list(range(0, 10)) + list(range(10, 20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [54]:
tuple(range(0, 10)) + tuple(range(10, 20))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

In [55]:
"Hello, " + "python"

'Hello, python'

In [56]:
"hello " + 10 # 숫자는 더이상 연결 연산자X

TypeError: can only concatenate str (not "int") to str

In [57]:
'hello ' + "10"  # 이때 10은 문자 10이다

'hello 10'

In [58]:
# 반복 '*'
# 시퀀스 객체 * 정수
# 정수 * 시퀀스객체
[0, 10, 20, 30] * 3

[0, 10, 20, 30, 0, 10, 20, 30, 0, 10, 20, 30]

In [60]:
# range(0, 5, 2) * 3 -> 이렇게는 안됨
list(range(0, 5, 2)) * 3

[0, 2, 4, 0, 2, 4, 0, 2, 4]

In [61]:
"hello" * 3

'hellohellohello'

In [62]:
a = [1, 2, 3, 4, 5]
a

[1, 2, 3, 4, 5]

In [63]:
print(a[0]) # print을 반복
print(a[1])
print(a[2])
print(a[3])
print(a[4])

1
2
3
4
5

In [69]:
a = [1, 2, 3, 4, 5]
for i in a:
    print(i)

1
2
3
4
5

In [71]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [72]:
# 2차원 list : 리스트안에 리스트를 표현
a = [[10, 20], [30, 40], [50, 60]]
a

[[10, 20], [30, 40], [50, 60]]

In [73]:
# 리스트 [세로인덱스][가로인덱스]
a = [[10, 20], [30, 40], [50, 60]] # 규칙을 가지면서 출력 가능
     # [[10, 20],
     #  [30, 40],
     #  [50, 60]] -> 똑같은거 3 x 2
print(a[0][1])
print(a[2][1])
a[0][1] =1000
print(a[0][1])

20
60
1000

In [74]:
a = [[10, 20], [500, 600, 700], [9], [30, 40], [800, 900, 1000]]
a

[[10, 20], [500, 600, 700], [9], [30, 40], [800, 900, 1000]]

In [76]:
a = [[10, 20], [30, 40], [50, 60]] 
a

[[10, 20], [30, 40], [50, 60]]

In [77]:
for i in a:
    print(i)

[10, 20]
[30, 40]
[50, 60]

In [79]:
for i in a:  # 이런식으로 하나 씩 뺄수 있다.
    x = i[0]
    y = i[1]
    print(x)
    print(y)

10
20
30
40
50
60

In [82]:
a = [[10, 20], [30, 40], [50, 60]] 
for i in a:  # 이런식으로 하나 씩 뺄수 있다.
    cnt = len(i) # 요소의 건수 -> 반복처리 하라 가능
    for c in range(cnt): # cnt = 2, 0, 1
        print(i[c])

10
20
30
40
50
60

In [84]:
a = [[10, 20], [500, 600, 700], [9], [30, 40], [800, 900, 1000]]
for i in a:  # 이런식으로 하나 씩 뺄수 있다.
    cnt = len(i) # 요소의 건수 -> 반복처리 하라 가능
    for c in range(cnt): # cnt = 2, 0, 1
        print(i[c]) 
    print()              # 리스트는 동적할당(정해지지 않았다.)

10
20

500
600
700

9

30
40

800
900
1000

In [85]:
a = [(10, 20), (30, 40), (50, 60)] 
a

[(10, 20), (30, 40), (50, 60)]

In [94]:
a = [[10, 20], [30, 40], [50, 60]] # 똑같은 크기를 가질 때
for x, y in a: # i = [10, 20] or x, y = [10, 20]
    print(x, y)

10 20
30 40
50 60

In [96]:
a = [[10, 20], [30, 40], [50, 60]]
for i in a:  # i = [10, 20]
    for j in i: #
        print(j, end = " ")
    print()

10 20
30 40
50 60

In [98]:
a = [[10, 20], [30, 40], [50, 60]]
for i in range(len(a)):  # 행(세로)의 크기
    for j in range(len(a[i])): # 열(가로)의 크기
        print(a[i][j], end = " ")
    print()

10 20
30 40
50 60

In [99]:
a = [[10, 20], [30, 40], [50, 60]]

i = 0
while i < len(a):
    x, y = a[i]
    print(x, y)
    i += 1

10 20
30 40
50 60

In [100]:
#다중 while문
a = [[10, 20], [30, 40], [50, 60]]

i = 0
while i < len(a): # 세로(행) 크기
    j = 0
    while j < len(a[i]): # 가로(열) 크기
        print(a[i][j], end = " ")
        j += 1
    print()
    i += 1

10 20
30 40
50 60

In [101]:
a = [] # 반복해서 리스트에 넣을 때 우선 빈 리스트를 만든다.

for i in range(10):
    a.append(0)
    
print(a)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [104]:
# 2차원 리스트 채우기 [[0,0], [0,0], [0,0]]
a = []

for i in range(3):
    item = [] #리스트 안의 리스트를 만들기 위해
    for j in range(2):
        item.append(0)
    a.append(item)   
print(a)

[[0, 0], [0, 0], [0, 0]]

In [105]:
a = [[0 for j in range(2)] for i in range(3)]
a

[[0, 0], [0, 0], [0, 0]]

In [127]:
# 가로크기가 저장된 리스트를 이용하여 2차원 리스트를 생성하시오.
# 리스트의 요소값은 모두 0으로 설정할 것.
#  가로크기를 저장한 리스트
# 전체안에 5개 리스트 첫번째 0이 3개 두번째 0이 1개 등....

# a = [[0, 0, 0], [0], [0, 0, 0], [0, 0], [0, 0, 0, 0, 0]]
a = [3, 1, 3, 2, 5]
for i in a:
    item = []
    for j in range(i):
        item.append(0) 
    a.append(item)
print(a)

TypeError: 'list' object cannot be interpreted as an integer

In [129]:
# 강사님
a = [3, 1, 3, 2, 5]
b = []
for i in a:
    item = [] # 안쪽 리스트 요소, 빈리스트 요소
    for j in range(i):
        item.append(0) 
    b.append(item)
print(b)

[[0, 0, 0], [0], [0, 0, 0], [0, 0], [0, 0, 0, 0, 0]]

In [131]:
a = [[0] * i for i in [3, 1, 3, 2, 5]]
a

[[0, 0, 0], [0], [0, 0, 0], [0, 0], [0, 0, 0, 0, 0]]

In [134]:
# 2차원 리스트 정렬
# sorted(반복가능한객체, key=정렬함수, reverse = True or False)

students = [['lee', 'C', 19],
           ['kim', 'A', 25],
           ['park', 'B', 7]]

print(sorted(students, key=lambda student:student[1])) #학점을 가지고 정렬을 하겠다.

[['kim', 'A', 25], ['park', 'B', 7], ['lee', 'C', 19]]

In [136]:
print(sorted(students, key=lambda student:student[1], reverse = True)) # 반대로

[['lee', 'C', 19], ['park', 'B', 7], ['kim', 'A', 25]]

In [137]:
print(sorted(students, key=lambda student:student[2]))

[['park', 'B', 7], ['lee', 'C', 19], ['kim', 'A', 25]]

In [139]:
# reverse : 리스트를 거꾸로 뒤집는다. but, 내림차순 정렬X
a = [1, 10, 5, 7, 6]
a.reverse()
a

[6, 7, 5, 10, 1]

In [142]:
# sort : 기본값(오름차순), reverse = True(내림차순)
a = [1, 10, 5, 7, 6]
a.sort()
a

[1, 5, 6, 7, 10]

In [143]:
# 내림차순
a = [1, 10, 5, 7, 6]
a.sort(reverse = True)
a

[10, 7, 6, 5, 1]

In [156]:
string = '나는 파이썬을 잘하고 싶다'
string = string.split(" ") # 쪼개서 리스트에 저장 된다.
string

['나는', '파이썬을', '잘하고', '싶다']

In [157]:
string.sort(key=len) # 글자 길이에 따라 오름차순 정렬
string

['나는', '싶다', '잘하고', '파이썬을']

In [158]:
# 정렬된 결과를 반환하는 함수는 원본이 변하지 않는다.
# sorted : 순서대로 정렬, 정렬된 결과가 리스트로 반환
x = [1, 11, 2, 33]
y = sorted(x)
print(x)
print(y)

[1, 11, 2, 33]
[1, 2, 11, 33]